on:
  workflow_call:
    inputs:
      dockerfile_path:
        type: string
        required: false
        default: './Dockerfile.new'
      dockerfile_context:
        type: string
        required: false
        default: '.'

jobs:

  docker_build:
    name: 'Build Docker image'
    runs-on: ubuntu-24.04
    permissions:
      packages: write

    steps:

      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 #v4.1.1
        name: Checkout

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@f95db51fddba0c2d1ec667646a06c2ce06100226 # v3.0.0

      - name: Build Image
        uses: docker/build-push-action@4a13e500e55cf31b7a5d59a38ab2040ab0f42f56 #v5.1.0
        with:
          context: ${{ inputs.dockerfile_context }}
          file: ${{ inputs.dockerfile_path }}
          push: false
          secrets: |
            GH_TOKEN=${{ secrets.READ_PACKAGES_TOKEN }}
          cache-from: type=gha
          cache-to: type=gha,mode=min
          build-args: |
            REPO_ONBOARDING=selfcare-onboarding
            REPO_USERNAME=${{ github.actor }}
            REPO_PASSWORD=${{ secrets.GITHUB_TOKEN }}
